html, body {
  text-align: center;
  background: url("bar-bar-cafe-cafeteria-430195.jpg") no-repeat fixed center;
  background-size: cover;
  font-family: cursive;
  height: 100%;
}

.head {
  color: #33313b;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Satisfy', cursive;
  margin: 0px 350px;
  background: rgba(255, 189, 57, 0.7);
}

#form-outer {
  background-color: rgba(255, 189, 57, 0.9);
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

.labels {
  display: inline-block;
  text-align: left;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

#submit {
  background-color: #ff502f;
  border-radius: 4px;
  color: black;
  font-size: 1em;
  height: 30px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

.input-block {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

textarea {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

select {
  margin-top: 10px;
  margin-left: 46px;
  margin-right: auto;
  display: inline-block;
}

#dropdown {
  padding: 5px 0px;
}

h4{
  background: rgba(255, 189, 57, 0.7);
  margin: 20px 550px;
}
